# Frontend environment (development)
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:5135/api/v1

# Supabase (public values only)
NEXT_PUBLIC_SUPABASE_URL=https://rmncxqvtdrqfjekqxyjb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_9qNgGo1vbIrpFVDbtsg1jA_nWzIqTmW
